<%= form_for(@project, :html=> {:class => "projectform"}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="projectformfield_wide">
    <p> This is the sign-up form for hallway presentations for Expo. This should be completed for each individual or group presentation. Please fill it out only ONCE for the group: it should not be filled out by each group member individually. It should also not be filled out for presentations which have already been submitted for a classroom presentation or performance. All of the presentations on this form will be conducted in the hallway. You may do a traditional poster, a demonstration, or any other format. Please indicate any special space requirements in the area indicated below. You must sign up by December 10 at the latest. If you need to make any changes after submitting this form, you must completely fill out the form a second time incorporating the changes, then email Rebecca so the first posting can be removed. </p>
  </div>

  <div class="projectformfield_narrow1">
    <%= f.label :contact_name%>
    <%= f.text_field :contact_name %>
  </div>

  <div class="projectformfield_narrow1">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email %>
  </div>

  <div class="projectformfield_narrow2">     
    <%= f.label :presentation_title%>
    <%= f.text_field :presentation_title %>
  </div>

  <div class="projectformfield_wide">
    <%= f.label :all_students_presenting %>
    <div class="projectformfield_wide">
      <p><font color="gray"> Please separate names by commas and include the contact person in this list. Names should be as you would have them appear in the program. </font></p>
    </div>
    <%= f.text_area :all_students_presenting %>
  </div>

  <div class="projectformfield_wide">
    <%= f.label :project_description%>
    <div class="projectformfield_wide">
      <p><font color="gray"> Please write a short (two sentence), high impact description of your presentation: why should people want to see it? </font></p>
    </div>
    <%= f.text_area :project_description %>
  </div>
  
  <div class="projectformfield_wide">
    <%= f.label :special_needs%>
    <div class="projectformfield_wide">
      <p><font color="gray"> Please indicate here how much space your presentation will require (if you will have multiple posters, for instance, or a large demo, please estimate the number of linear feet of hallway or number of desks you will need). Also please indicate here any time conflicts. If a group member is in the OCO please make sure 'OCO' occurs in the text of this field. Please also indicate if your presentation will be wet or dirty. </font></p>
    </div>
    <%= f.text_area :special_needs %>
  </div> 

  <div class="projectformfield_wide">
    <%= f.label :topical_area %>
    <div class="projectformfield_wide">
      <p><font color="gray"> For the purposes of spatially grouping related presentation, please indicate your preferred topical designation (with whom would you like to be grouped).</font></p>
    </div>
    <% for category in Category.find(:all) %>
        <div>
          <%= check_box_tag "project[category_ids][]", category.id, @project.categories.include?(category) %>
          <%= category.name %>
        </div>
    <% end %>
  </div>

  </br>

  <div class="class_affiliation">
    <%= f.label :is_this_presentation_affiliated_with_a_class? %>
    <div class="projectformfield_wide">
      <p><font color="gray"> Please give class name, not class number.</font></p>
    </div>
    <%= f.text_field :class_affiliation %>
  </div>

  <div class="actions">
    <%= f.submit %>
<% end %>
