<script type="text/javascript">
  document.getElementById('li_projects').className = "active dropdown";
</script>

<h1>List of Projects</h1>

<table>
  <tr>
    <th>Project Title</th>
    <th>Names</th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to "<%= project.title %>", project %> </td>
    <td><%= project.names %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Your Project Here!', new_project_path %>
