<script type="text/javascript">
  document.getElementById('li_presentations').className = "active";
</script>

<h2>Expo Hallway Presentations</h2>

<table style="width: 100%" class="table table-striped table-hover">
  <colgroup>
  <col style="width: 50%"></col>
  <col style="width: 50%"></col>
  <col style="width: 0"></col>
  <col style="width: 0"></col>
</colgroup>

  <tr>
    <th>Presentation Title</th>
    <th>Presenters</th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><a href="/projects/<%=project.id%>"> <%= project.presentation_title %> </a> </td>
    <td><b>Contact: <%= project.contact_name %></b>, <%= project.all_students_presenting %></td>
    
    <% if current_user %>
      <!-- If you are logged in -->

      <% if current_user.name == project.contact_name %> 
        <!-- If you are logged in and the creator -->

        <!-- You can edit -->
        <td style="padding-right: 0"><%=link_to edit_project_path(project) do %>
          <i class="icon-edit icon"></i>
        <% end %></td>
        <td><%=link_to edit_project_path(project) do %>
          <b>Edit</b>
        <% end %>

        <!-- You can't join -->
      <% else %>

      <!-- If you are logged in and not the creator and not in the group-->
        <!-- You can't edit -->
        <!-- You can join -->

        <% if !project.all_students_presenting.include? current_user.name %>
          <td style="padding-right: 0"><i class="icon-plus icon"></td>
          <% new_list = project.all_students_presenting + ", " + current_user.name %>
          <td><b><%=link_to "Join", :controller => "projects", :action => "join",
                                 :project => { :all_students_presenting => new_list},
                                 :confirm => "Are you sure you want to join this project?",
                                 :id => project.id %></b></td>
        <% else %>
          <td></td><td></td>
        <% end %>
      <% end %>


    <% else %>
      <!-- You are not logged in -->
      <!-- You cannot edit or join -->
      <td></td><td></td>
    <% end %>


      <!--
      <%= link_to project, :method => :delete, :data => { :confirm => 'Are you sure you are the owner of this presentation and want to delete it?' } do %>
      <i class="icon-trash"></i>
      <% end %>
    --></td>
  </tr>
<% end %>
</table>

<div class="jumbotron">
        <div><a href="<%=new_project_path%>" class="btn btn-large btn-success">Submit Your Presentation</a></div>
      </div>
