<script type="text/javascript">
  document.getElementById('li_projects').className = "active dropdown";
</script>

<h2>Expo Hallway Presentations</h2>

<table style="width: 100%" class="table table-striped table-hover">
  <colgroup>
  <col style="width: 50%"></col>
  <col style="width: 50%"></col>
  <col style="width: 0"></col>
  <col style="width: 0"></col>
</colgroup>

  <tr>
    <th>Project Title</th>
    <th>Names</th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><a href="/projects/<%=project.id%>"> <%= project.presentation_title %> </a> </td>
    <td><%= project.presentation_title %></td>
    <td style="padding-right: 0"><%= link_to edit_project_path(project), :class => 'btn' do %>
      <i class="icon-edit icon"></i>
      <% end %></td>
    <td><%= link_to project, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' do %>
      <i class="icon-trash icon-white"></i>
      <% end %></td>
  </tr>
<% end %>
</table>

<div class="jumbotron">
        <div><a href="<%=new_project_path%>" class="btn btn-large btn-success">Register Your Presentation</a></div>
      </div>
