<script type="text/javascript">
  document.getElementById('li_projects').className = "active dropdown";
</script>

<h2 class="titles_down">All Projects</h2>

<table>
  <tr>
    <th>Project Title</th>
    <th>Names</th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <!-- NEED TO SWITCH THIS HREF BACK TO http://olinexpo.herokuapp.com/projects for production -->
    <td><a href="http://localhost:3000/projects/<%=project.id%>"> <%= project.presentation_title %> </a> </td>
    <td><%= project.presentation_title %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Your Project Here!', new_project_path %>
