<script type="text/javascript">
  document.getElementById('li_projects').className = "active dropdown";
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Contact Name:</b>
  <%= @project.contact_name %>
</p>

<p>
  <b>Contact Emails:</b>
  <%= @project.contact_email %>
</p>

<p>
  <b>Presentation Title:</b>
  <%= @project.presentation_title %>
</p>

<p>
  <b>All Students Presenting:</b>
  <%= @project.all_students_presenting %>
</p>

<p>
	<b>Project Description:</b>
	<%= @project.project_description %>
</p>

<p>
	<b>Special Needs:</b>
	<%= @project.special_needs%>
</p>

<p>
  <% for category in @project.categories %>
      <div>
        <%= category.name %>
      </div>
  <% end %>
</p>

<p>

<p>
  <b>Is this project associated with a class?:</b>
  <%= @project.class_affiliation %>
</p>

<p>

<h2>Comments</h2>
<%= render @project.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %> 
<br />

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
