<!DOCTYPE html>
<html>
<head>
    <title>Olin Expo &middot; Fall 2012</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico" />
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/application.css" rel="stylesheet"> 
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      .footer { text-align: center; font-size: 0.9em; }

      div.masthead { padding-top: 20px; }
      #brand { margin-top: -20px; }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 10px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 40px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 10px 10px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 40px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      .marketing h4 { text-align: center; }

.facebook_button { width: 260px; font-size: 18px; display: block; margin-bottom: 8px; cursor: pointer; }
.facebook_button span.icon { font-family: icons; }
.facebook_button{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#3c5b9c;background-image:-moz-linear-gradient(top, #4568b2, #30487b);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#4568b2), to(#30487b));background-image:-webkit-linear-gradient(top, #4568b2, #30487b);background-image:-o-linear-gradient(top, #4568b2, #30487b);background-image:linear-gradient(to bottom, #4568b2, #30487b);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4568b2', endColorstr='#ff30487b', GradientType=0);border-color:#30487b #30487b #1a2843;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#3c5b9c;background-image:-moz-linear-gradient(top, #4568b2, #30487b);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#4568b2), to(#30487b));background-image:-webkit-linear-gradient(top, #4568b2, #30487b);background-image:-o-linear-gradient(top, #4568b2, #30487b);background-image:linear-gradient(to bottom, #4568b2, #30487b);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4568b2', endColorstr='#ff30487b', GradientType=0);border-color:#213256;*background-color:#30487b;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}
a.facebook_button:hover,a.facebook_button:active,a.facebook_button.active,a.facebook_button.disabled,a.facebook_button[disabled]{color:#ffffff;background-color:#30487b;*background-color:#283d68;}a.facebook_button:active,a.facebook_button.active{background-color:#213256 \9;}a.facebook_button:hover{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#5778be;background-image:-moz-linear-gradient(top, #5f7ec1, #4c70ba);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5f7ec1), to(#4c70ba));background-image:-webkit-linear-gradient(top, #5f7ec1, #4c70ba);background-image:-o-linear-gradient(top, #5f7ec1, #4c70ba);background-image:linear-gradient(to bottom, #5f7ec1, #4c70ba);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f7ec1', endColorstr='#ff4c70ba', GradientType=0);border-color:#4c70ba #4c70ba #344e86;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#5778be;background-image:-moz-linear-gradient(top, #5f7ec1, #4c70ba);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5f7ec1), to(#4c70ba));background-image:-webkit-linear-gradient(top, #5f7ec1, #4c70ba);background-image:-o-linear-gradient(top, #5f7ec1, #4c70ba);background-image:linear-gradient(to bottom, #5f7ec1, #4c70ba);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f7ec1', endColorstr='#ff4c70ba', GradientType=0);border-color:#3b5998;*background-color:#4c70ba;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}a.facebook_button:hover:hover,a.facebook_button:hover:active,a.facebook_button:hover.active,a.facebook_button:hover.disabled,a.facebook_button:hover[disabled]{color:#ffffff;background-color:#4c70ba;*background-color:#4264aa;}a.facebook_button:hover:active,a.facebook_button:hover.active{background-color:#3b5998 \9;}a.twitter_button{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#0bb8e7;background-image:-moz-linear-gradient(top, #12ccff, #009ac4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#12ccff), to(#009ac4));background-image:-webkit-linear-gradient(top, #12ccff, #009ac4);background-image:-o-linear-gradient(top, #12ccff, #009ac4);background-image:linear-gradient(to bottom, #12ccff, #009ac4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff12ccff', endColorstr='#ff009ac4', GradientType=0);border-color:#009ac4 #009ac4 #005e78;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#0bb8e7;background-image:-moz-linear-gradient(top, #12ccff, #009ac4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#12ccff), to(#009ac4));background-image:-webkit-linear-gradient(top, #12ccff, #009ac4);background-image:-o-linear-gradient(top, #12ccff, #009ac4);background-image:linear-gradient(to bottom, #12ccff, #009ac4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff12ccff', endColorstr='#ff009ac4', GradientType=0);border-color:#007291;*background-color:#009ac4;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}

      a.facebook_button,a.facebook_button{display:block;padding:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
      a.facebook_button .icon,
      a.facebook_button .icon{display:block;border-right:1px solid #2d4373;width:31px;padding: 0;float:left; margin-left: 6px ; padding: 7px 0;}
      a.facebook_button .textNode,
      a.facebook_button .textNode{display:block;padding:13px 22px 13px 10px;border-left:1px solid #4c70ba;margin-left:41px;}
      a.facebook_button:hover .textNode,
      a.facebook_button:hover .textNode{border-left-color:rgba(255, 255, 255, 0.2);}
      a.facebook_button:hover .icon,
      a.facebook_button:hover .icon{border-right-color:#3b5998;background-position:15px -75px;}
      a.facebook_button:active .textNode,
      a.facebook_button:active .textNode{border-left-color:rgba(255, 255, 255, 0.1);}
      a.facebook_button:active .icon,
      a.facebook_button:active .icon{border-right-color:#2d4373;}
      
      a.facebook_button .textNode{margin-left:38px !important;padding:10px 19px 10px 9px !important;}
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    <script>
    function authenticateFacebook (next) {
      var win = window.open('/auth/facebook', '_blank','location=yes, scrollbars=yes, width=640, height=359', true);
      var timer = setInterval(function() {   
        if (win.closed) {  
          clearInterval(timer);
          next();
        }  
      }, 10);  
    }
    </script>

</head>
<body>
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li id='li_home'><a href="/">Home</a></li>
          <li id='li_presentations'><a href="<%=projects_path%>">Presentations</a></li>
          <li id='li_submit_presentation'><a href="<%=new_project_path%>">Submit Presentation</a></li>
          <li id='li_about' class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%=pages_contact_path%>">Give Feedback!</a></li>
              <li><a href="http://www.olin.edu/">Olin College</a></li>
              <!--<li class="divider"></li>-->
              <li><a href="http://lifegraphteam.com/">Lifegraph Labs</a></li>
            </ul>
          </li>
        </ul>
        <!--<h3 class="muted">Olin Expo Fall 2012</h3>-->
        <h1 id="brand">
          <a href="/"><img src="/assets/expolive-logo.png" alt="" width="260"></a>
        </h1>
      </div>

      <hr>

      <% if flash[:notice] %>
        <div class="alert"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-error"><%= flash[:error] %></div>
      <% end %>

		<%= yield %>

      <hr>

      <div class="footer">
        <p>Developed in partnership between <a href="http://olin.edu/">Olin College</a> and <a href="http://lifegraphteam.com/">Lifegraph Labs</a>. Expo Live! &copy; 2012</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="http://garlicjs.org/garlic.js"></script>
</body>
</html>
