<!DOCTYPE html>
<html>
<head>
    <title>Olin Expo &middot; Fall 2012</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico" />
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/application.css" rel="stylesheet"> 
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      div.masthead { padding-top: 20px; }
      #brand { margin-top: -20px; }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 10px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 40px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 10px 10px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 40px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      .marketing h4 { text-align: center; }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    <script>
    function authenticateFacebook (next) {
      var win = window.open('/auth/facebook', '_blank','location=yes, scrollbars=yes, width=640, height=359', true);
      var timer = setInterval(function() {   
        if (win.closed) {  
          clearInterval(timer);
          next();
        }  
      }, 10);  
    }
    </script>

</head>
<body>
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="<%=projects_path%>">Presentations</a></li>
          <li><a href="<%=new_project_path%>">Submit Presentation</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%=pages_contact_path%>">Give Feedback!</a></li>
              <li><a href="http://www.olin.edu/">Olin College</a></li>
              <!--<li class="divider"></li>-->
              <li><a href="http://lifegraphteam.com/">Lifegraph Labs</a></li>
            </ul>
          </li>
        </ul>
        <!--<h3 class="muted">Olin Expo Fall 2012</h3>-->
        <h1 id="brand">
          <a href="/"><img src="/assets/expolive-logo.png" alt="" width="260"></a>
        </h1>
      </div>

      <hr>

      <% if flash[:notice] %>
        <div class="alert"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-error"><%= flash[:error] %></div>
      <% end %>

		<%= yield %>

      <hr>

      <div class="footer">
        <p>Developed in partnership between <a href="http://olin.edu/">Olin College</a> and <a href="http://lifegraphlabs.com/">Lifegraph Labs</a>. Expo Live! &copy; 2012</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="http://garlicjs.org/garlic.js"></script>
</body>
</html>
